fastapi==0.110.0
uvicorn[standard]==0.29.0

# Для работы с моделями .keras
tensorflow==2.15.1  # стабильная версия без TensorRT
keras==2.11.0       # обязательно совместимая с TensorFlow

# Для валидации входных/выходных данных
pydantic==1.10.13  # FastAPI пока стабильно работает с этой версией

# Если используется NumPy (для предобработки)
numpy==1.24.4